<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    <style>h1{text-align: center;}</style>
</head>
<body>
<h1> Registration Form </h1>



 <form action = "/add_student" method="POST">

 <table align="center"  cellpadding = "13" border = "10" width="700">

  <tr><td>Name</td><td><input type="text" name="Name" ></td></tr>

     <tr><td>Gender</td><td>
         <label><input type="radio" value="m" name="Gender">Male</label>
         <label><input type="radio" value="f" name="Gender">Female</label>
     </td></tr>
<!--     <tr><td>Eng_Year (1,2,3,4)</td><td><input type="text" name="Eng_Year" size="1" maxlength="1"></td></tr>-->
     <tr><td>Eng_Year</td><td>
        <label><input type="radio" value="1" name="Eng_Year">FY</label>
        <label><input type="radio" value="2" name="Eng_Year">SY</label>
        <label><input type="radio" value="3" name="Eng_Year">TY</label>
        <label><input type="radio" value="4" name="Eng_Year">FoY</label>
      </td></tr>

     <tr><td>Branch</td><td>
        <label><input type="radio" value="IT" name="Branch">IT</label>
        <label><input type="radio" value="COMPS" name="Branch">COMPS</label>
        <label><input type="radio" value="MECH" name="Branch">MECH</label>
        <label><input type="radio" value="EXTC" name="Branch">EXTC</label>
      </td></tr>

     <tr><td>Gmail</td><td><input type="text" name="Gmail" size="20" maxlength="20"></td></tr>
        <tr><td><input type="Submit" value="Submit"></td></tr>
 </table>
 </form>
</body>
</html>