<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphs</title>
</head>
<style>  body{
   text-align: center;
  }
  a:link, a:visited {
  background-color: #f44336;
  color: yellow;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: blue;
  }
</style>
<body>
 <h1>Data Visualization </h1>
  <br><br><a href="/yearwise">Edu_Year </a><br><br>
  <br><br><a href="/monthwise">Monthly</a><br><br>
 <br><br><a href="/weekwise">Weekly</a><br><br>
<br><br><a href="/subjectwise">Subject</a><br><br>

</body>
</html>