<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<style>  body{
   text-align: center;
  }
  a:link, a:visited {
  background-color: #f44336;
  color: yellow;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: blue;
  }
</style>
<body>
 <h1> Student Management System </h1>
  <br><br><a href="/add_student">Add Student Information</a><br><br>
 <br><br><a href="/view_student">View Student Details </a><br><br>
 <br><br><a href="/mark_attendance">Mark Attendance </a><br><br>
<br><br><a href="/analysis">Analysis </a><br><br>

</body>
</html>