<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Datasets</title>
</head>
<style>  body{
   text-align: center;
  }
  a:link, a:visited {
  background-color: #f44336;
  color: yellow;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: blue;
  }
</style>
<body>
 <h1> Student Information </h1>
  <br><br><a href="/it">IT </a><br><br>
  <br><br><a href="/extc">EXTC</a><br><br>
 <br><br><a href="/mech">MECH </a><br><br>
<br><br><a href="/comps">COMPS </a><br><br>

</body>
</html>